.container__playlistitem {
  position: relative;
  width: 40%;
  min-width: 210px;
  height: 118px;
  margin: 0 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.container__playlistitem > img {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: auto;
  cursor: pointer;
}
